@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.sign-in{
    -fx-background-color: black;
}
.log-in{
    -fx-background-color: WHITE;
}

.backgroundimage{
    -fx-background-image: url(/tools/main.jpg)"
}